<!DOCTYPE html>
<html lang="ja">

<head>
    <title>メニュー1</title>
</head>

<body>
    <h1>牛丼</h1>
    360円<br>
    個数 : 1<br>
    <br>
    <a href="https://donmomenmo-app.herokuapp.com/orders"><font size="4">注文</font></a><br>
    <a href="https://donmomenmo-app.herokuapp.com/menus"><font size="4">カートに入れる</font></a><br>
</body>

</html>
