<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>メニュー</title>
    </head>
 
    <body>
        <h1>メニュー</h1>
        <a href="#donmono">丼もの</a><br>
        <a href="#mennrui">麺類</a><br>
        <a href="#sonota">その他</a><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>   
        <h2><a name="donmono">丼もの</a><br></h2>
        <a href="https://donmomenmo-app.herokuapp.com/menus/1">牛丼</a><br>
        <a href="https://donmomenmo-app.herokuapp.com/menus/2">カツ丼</a><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2><a name="mennrui">麺類</a></h2>
        <a href="https://donmomenmo-app.herokuapp.com/menus/3">肉うどん</a><br>
        <a href="https://donmomenmo-app.herokuapp.com/menus/4">天ぷらうどん</a><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2><a name="sonota">その他</a></h2>
        <a href="https://donmomenmo-app.herokuapp.com/menus/5">おむすび</a><br>
        <a href="https://donmomenmo-app.herokuapp.com/menus/6">味噌汁</a><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </body>

</html>