<!DOCTYPE html>
<html lang="ja">

<head>
    <title>ホーム</title>
</head>

<body>
    <h1>ドンモメンモ</h1>

    ようこそ！<%= @user.name %>さん (<%= @user.email %>)<br>
    <br>
    <a href="https://donmomenmo-app.herokuapp.com/menus"><font size="4">予約</font></a><br>
    <a href="https://donmomenmo-app.herokuapp.com/menus"><font size="4">履歴</font></a><br>
    <a href="https://donmomenmo-app.herokuapp.com/menus"><font size="4">QRコード</font></a><br>


</body>

</html>