<!DOCTYPE html>
<html lang="ja">

<head>
    <title>支払い</title>
</head>

<body>
    <h1>支払い</h1>
    QRコード<br>
    肉うどん 1<br>
    おむすび 1<br>
    <br>
    ¥ 350<br>
    <a href="https://donmomenmo-app.herokuapp.com/menus"><font size="7">戻る</font></a><br>
</body>

</html>