<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>ホーム</title>
    </head>
 
    <body>
        <h1>ドンモメンモ</h1>
        <br>
        <a href="http://localhost:3000/menus"><font size="4">予約</font></a><br>
        <a href="http://localhost:3000/menus"><font size="4">履歴</font></a><br>
        <a href="http://localhost:3000/menus"><font size="4">QRコード</font></a><br>


        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

        https://railstutorial.jp/chapters/advanced_login?version=5.0#cha-advanced_login

        <h1>ログイン</h1>
        学籍番号<br>
        新規のパスワード<br>
        確認のパスワード<br>
        <br>
        <a href="http://localhost:3000/homes"><font size="7">登録</font></a><br>
        <br>


    </body>

</html>